@model HelpFinal.Models.Testimonial

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Testimonial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestimonialId" />
            <div class="form-group">
                <label asp-for="TestimonialName" class="control-label"></label>
                <input asp-for="TestimonialName" class="form-control" />
                <span asp-validation-for="TestimonialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collage" class="control-label"></label>
                <input asp-for="Collage" class="form-control" />
                <span asp-validation-for="Collage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestimonialDesc" class="control-label"></label>
                <input asp-for="TestimonialDesc" class="form-control" />
                <span asp-validation-for="TestimonialDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

